<%- include('header.ejs') %>

<body>
  <%- include('sideBarMenu.ejs') %>
  <div id="main">
    <script>
      function myFunction() {
        const currentValue = document.getElementById('actList').value;
        document.getElementById("sub").disabled = currentValue.length === 0 ||
          document.querySelector('option[value="' + currentValue + '"]' === null);
      }

      function checkEmpty() {
        var hours = document.getElementById("hours").value;
        var minutes = document.getElementById("minutes").value;
        if ((!hours||hours==0)&&(!minutes||minutes==0)) {
          console.log('here')
          return false;
        }
      }
    </script>
    <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
    <div class="container-fluid">
      <div class="col-lg-9 mx-auto bg-light" style="min-height: 690px;">
        <div class="row text-center">
          <h1 class="mx-auto mt-3">Dodawanie nowej aktywności</h1>
        </div>
        <div class="row text-center">
          <div class="col-lg-6 mx-auto bg-light p-5">
            <form method="post" action="/home/newtraining">
              <div class="form-group">
                <span>Wybierz rodzaj aktywności: </span>
                <input list="activityList" id="actList" name="activity" class="form-control" required
                  oninput="myFunction()">
                <datalist id="activityList">
                  <% for (var i=0;i<categories.length;i++) {%>
                  <% if(categories[i]!='custom'){ %>
                  <option value="<%= categories[i] %>"> </option>
                  <%}}%>
                </datalist>
              </div>
              <span>Wybierz czas trwania aktywności</span>
              <div class="input-group mb-3">
                <input type="number" class="form-control" id='hours' name='hours' placeholder="Godziny"
                  aria-label="Godziny" pattern="[0-9]{10}" oninput="this.value = Math.abs(this.value)"
                  oninput='timeFunction()'>
                <input type="number" class="form-control" id='minutes' name='minutes' placeholder="Minuty"
                  aria-label="Minuty" pattern="[0-9]{10}" oninput="this.value = Math.abs(this.value)"
                  oninput='myFunction()'>
              </div>

              <div class="form-group">
                <label for="date">Wybierz datę aktywności: </label>
                <input type="date" id="date" name="date" class="form-control" required>
              </div>
              <script>
                var temp = new Date()
                var month = (temp.getMonth() + 1).toString()
                var year = temp.getFullYear()
                var day = temp.getDate().toString();
                if (day.length == 1)
                  day = '0' + day
                if (month.length == 1)
                  month = '0' + month;
                var today = year + '-' + month + '-' + day

                document.getElementById('date').setAttribute('max', today)
              </script>
              <button class="btn btn-warning" id="sub" onclick='return checkEmpty()' type="submit">Dodaj aktywność</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer.ejs') %>
</body>

</html>