<%- include('header.ejs') %>

<body>
  <%- include('sideBarMenu.ejs') %>
  <div id="main">
    <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
    <div class="container-fluid">
      <div class="col-lg-9 mx-auto bg-light" style="min-height: 800px;">
        <div class="row text-center">
          <h1 class="mx-auto mt-3">Dodawanie nowej aktywności</h1>
        </div>
        <div class="row text-center">
          <div class="col-lg-6 mx-auto bg-light p-5">
            <form method="post" action="/home/newtraining">
              <div class="form-group">
                <span>Wybierz rodzaj aktywności: </span>
                <input list="activityList" name="activity" class="form-control" required> 
                <datalist id="activityList">
                  <% for (var i=0;i<categories.length;i++) {%>
                    <% if(categories[i]!='custom'){ %>
                      <option value="<%= categories[i] %>"> </option>
                      <%}}%>
                </datalist>
              </div >
                  <span>Wybierz czas trwania aktywności</span>
                  <div class="input-group mb-3">
                    <input type="number" class="form-control"  name='hours' placeholder="Godziny" aria-label="Godziny">
                    <input type="number" class="form-control" name='minutes' placeholder="Minuty" aria-label="Minuty">
                  </div>

                  <div class="form-group">
                    <label for="date">Wybierz datę aktywności: </label>
                    <input type="date" id="date" name="date" class="form-control" required>
                  </div>
                  <script>
                    var temp=new Date()
                    var today=temp.getFullYear().toString()+'-'+(temp.getMonth()+1).toString()+'-'+temp.getDate().toString()
                    document.getElementById('date').setAttribute('max',today)
                  </script>
                  <button class="btn btn-warning" type="submit">Dodaj aktywność</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer.ejs') %>
</body>

</html>