<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn mb-4" onclick="openNav()">&#9776; Otwórz menu</button>
        <div class="container-fluid"></div>
            <div class="col-lg-9 mx-auto">
                <h2 class="my-5">Wybierz przygotowany przez nas set treningowy</h2>
                <div class="row text-center">
                    <div class="card m-2 mx-auto bg-light" style="width: 21rem;">
                        <img src="/images/icons.jpg" class="card-img-top" alt="Ikony sportowe">
                        <div class="card-body">
                            <h5 class="card-title">Ćwiczenia na mięśnie nóg</h5>
                            <p class="card-text">Ten set treningowy pozwoli ci wyzmuklić nogi i wzmocnić mięśnie łydek, ud i pośladków</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Czas trwania treningu: 1h</li>
                            <li class="list-group-item">Liczba spalonych kalorii: 350kcal</li>

                          </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-warning">Rozpocznij trening</a>
                        </div>
                    </div>
                    <div class="card m-2 mx-auto bg-light" style="width: 21rem;">
                        <img src="/images/icons.jpg" class="card-img-top" alt="Ikony sportowe">
                        <div class="card-body">
                            <h5 class="card-title">Ćwiczenia na mięśnie brzucha</h5>
                            <p class="card-text">Ćwiczenia wzmacniające brzuch pozwolą ci wyrzeźbić tą partię ciała i spalić tłuszcz</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Czas trwania treningu: 0,5h</li>
                            <li class="list-group-item">Liczba spalonych kalorii: 200kcal</li>

                          </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-warning">Rozpocznij trening</a>
                        </div>
                    </div>
                    <div class="card m-2 mx-auto bg-light" style="width: 21rem;">
                        <img src="/images/icons.jpg" class="card-img-top" alt="Ikony sportowe">
                        <div class="card-body">
                            <h5 class="card-title">Ćwiczenia cardio</h5>
                            <p class="card-text">Cardio to kondycyjne ćwiczenia, które poprawią twoją kondycję i spalą mnóstwo kalorii</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Czas trwania treningu: 1h</li>
                            <li class="list-group-item">Liczba spalonych kalorii: 500kcal</li>
                          </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-warning">Rozpocznij trening</a>
                        </div>
                    </div>
                    <div class="card m-2 mx-auto bg-light" style="width: 21rem;">
                        <img src="/images/icons.jpg" class="card-img-top" alt="Ikony sportowe">
                        <div class="card-body">
                            <h5 class="card-title">Ćwiczenia rozciągające</h5>
                            <p class="card-text">Rozciąganie to najważniejsza część treningu zaraz po rozgrzewce, pozwala powrócić mięśniom do formy sprzed treningu</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Czas trwania treningu: 0,5h</li>
                            <li class="list-group-item">Liczba spalonych kalorii: 50kcal</li>
                          </ul>
                        <div class="card-body">
                            <a href="#" class="btn btn-warning">Rozpocznij trening</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  <%- include('footer.ejs') %>
  </body>
</html>