<%- include('header.ejs') %>

<body>
    <div id="container_header1">
        <h1>BStronger</h1>
    </div>
    <div class="container-fluid" id="main_container">
      <div id=container2>
        <span id="info">Dołącz do miliona użytkowników i zdobądź formę o jakiej marzysz. </span><br/>
        <a href="/login"><button id="log_btn" type="button" class="btn btn-warning btn-lg">Zaloguj się</button><br/></a>
        <span>Nie masz konta?</span>
        <a href="/sign-up">Zarejestruj się</a>
      </div>
    </div>
    <%- include('footer.ejs') %>

</body>
</html>