<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

        <div class="center">
          <h6>Please Log In </h6>
          <br>
          <form method="post" action="/login">
            <div class="form-group">
              <input name="username" type="username" class="form-control" id="username" placeholder="Username" required>
              <input name="passw" type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Login</button>
          </form>
          <p class="createaccount">Not registered? <a href="#">Create an ac-count</a></p>
        </div>
  </body>
  </html>