<%- include('header.ejs') %>

<body style="background-image: url(/images/cb2.png);">
  <div class=container-fluid id="container_header">
    <h1>BStronger</h1>
  </div>
  
  <div class="container-fluid col-sm-4 logPanel">
    <div class="mx-auto">
      <h2 class="py-5 text-center">Logowanie</h2>
      <div class="alert alert-danger" role="alert"> <%= err_msg %></div>
      <script type="text/javascript">
        $(document).ready(function () {
          const msg="<%= err_msg %>"
            if (msg != "") {
                $(".alert").text(msg);
                $(".alert").show();
            }
            else {
                $(".alert").hide();
            }
        });
        </script>
      <form method="post" action="/login">
        <div class="form-group">
          <label for="exampleInputEmail1">Adres mailowy</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Hasło</label>
          <input name="passw" type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło" required>
        </div>
        <div class="text-center mb-4">
          <button type="submit" class="btn btn-warning btn-lg">Zaloguj</button>
        </div>
      </form>
    </div>
  </div>
  <%- include('footer.ejs') %>

  </body>
</html>