<%- include('header.ejs') %>

<body>
    <div class="container-fluid" id="container_header">
        <h1>BStronger</h1>
    </div>
    <div class="container-fluid" id="profil_panel">
        <div class="col-lg-2 user_panel">
            <div class="row padding text-center">
                <span>Info o userze</span>
            </div>
            <div class="row padding">
                <a href="/logout"><button id="logout_btn" type="button" class="btn btn-warning btn-lg">Wyloguj się</button><br/></a>
            </div>
        </div>
    </div>
  <%- include('footer.ejs') %>

  </body>
</html>