<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>

    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <div class="container-fluid mt-5 text-center" id="profil_panel">
            <h2 class="mb-5">Informacje o użytkowniku</h2>
            <div class="col-sm-6 mx-auto mt-5">
                <div class="row">
                    <div class="col">
                        <img src=<%=photo_path %> alt="userPhoto" class="img-fluid mx-auto" id="profile_photo">
                    </div>
                    <div class="col">
                        <ul class="list-group">
                            <li class="list-group-item">Aktualna waga: 100</li>
                            <li class="list-group-item">Wiek: 55</li>
                            <li class="list-group-item">Wzrost: 178</li>
                        </ul>
                        <button class="btn btn-dark mt-3"> Edytuj <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                          </svg>
                        </button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  <%- include('footer.ejs') %>

  </body>
</html>