
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container-fluid">
      <h5 class="text-center userName"><%= user_name %></h5>
      <div class="row">
        <div class="col-sm-3">
          <img src="/images/jobs.png" alt="userPhoto">
        </div>
        <div class="col-sm-3">
          <ul class="lista1">
            <li class="listItem"><a href="/home/weigth">Uaktualnij_wagę</a></li>
            <li class="listItem"><a href="/home/user">Profil</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="sidebarLinks">
          <a href="/home/history">Historia treningów</a>
          <a href="/home/newtraining">Dodaj aktywność</a>
          <!-- Czy to musi być link???? -->
          <!--Nie musi, to i tak będę zmieniać bo tu chce dać rozwinają opcję-->
          <a href="/home/begin">Rozpocznij trening</a>
          <ul class="menu-lista">
            <li><a class="lista" href="/home/start">Wybierz przygotowany trening</a></li>
            <li><a class="lista" href="/home/new">Ułóż nowy trening na własnych zasadach</a></li>
          </ul>
          <a href="/home/progress">Twoje postępy</a>
        </div>
      </div>
      <div class="row padding">
        <a href="/logout"><button id="logout_btn" type="button" class="btn btn-warning btn-lg">Wyloguj
            się</button><br /></a>
      </div>
    </div>


  </div>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>