<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form method="post" action="/sign-up">
    <input type="text" placeholder="User Name" name="user_name" required>
    <input type="password" placeholder="Password" name="user_password" required>
    <input type="password" placeholder="Confirm Password" name="confirm_password"  required>
    <input type="submit"/>
</form>
</body>
</html>