<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>
    <h3 id='excName'></h3>
    <h3 id='countdown'></h3>
    <p><%=set%></p>
<script>

</script>

    <%- include('footer.ejs') %>

</body>
</html>