<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>
    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <script>
            function addEx() {
                var ul = document.getElementById("list");
                var li = document.createElement("li");
                li.setAttribute("class", "list-group-item")
                const tresc = document.getElementById('excercise_name').value + ' ' + document.getElementById(
                    'repetition').value + ' powtórzeń';
                document.getElementById('excercise_name').value = '';
                document.getElementById('repetition').value = '';
                li.appendChild(document.createTextNode(tresc));
                ul.appendChild(li);
            }
        </script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Wybierz ćwiczenie</span>
                        <input list="exerciseList" name="exercise" class="form-control" id='excercise_name'>
                        <datalist id="exerciseList">
                            <% for(var i=0;i<excercise_names.length;i++){ %>
                            <option value="<%= excercise_names[i] %>"></option>
                            <% } %>
                        </datalist>
                        <input id='repetition' type="number" class="form-control" placeholder="Ilość powtórzeń"
                            aria-label="Ilość powtórzeń">
                        <button class="btn btn-warning" onclick="addEx()">Dodaj do listy</button>
                    </div>
                </div>

                <div class="col-lg-4">
                    <ul class="list-group" id='list'>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Zatwierdź</button>



    </div>
    <%- include('footer.ejs') %>

</body>

</html>