<%- include('header.ejs') %>

<body>
    <%- include('sideBarMenu.ejs') %>
    <div id="main">
        <button class="btn btn-outline-dark openbtn" onclick="openNav()">&#9776; Menu</button>
        <script>
            function addEx() {
                var ul = document.getElementById("list");
                var li = document.createElement("li");
                var input1=document.createElement("input");
                var input2=document.createElement("input");
                li.setAttribute("class", "list-group-item")
                const tresc = document.getElementById('excercise_name').value + ' ' + document.getElementById(
                    'repetition').value + ' powtórzeń';
                    
                input1.setAttribute('value', document.getElementById('excercise_name').value)
                input1.setAttribute('type','hidden');
                input1.setAttribute('name','nazwa');
                input2.setAttribute('value', document.getElementById('repetition').value)
                input2.setAttribute('type','hidden');
                input2.setAttribute('name','powt');
                document.getElementById('excercise_name').value = '';
                document.getElementById('repetition').value = '';
                li.appendChild(document.createTextNode(tresc));
                li.appendChild(input1);
                li.appendChild(input2)
                ul.appendChild(li);
            }
        </script>
        <div class="container-fluid">
            <div class="text-center">
                <h1>Ułóż własny trening</h1>
            </div>
            <div class="row bg-light">
                <div class="col-lg-6 m-5 mb-0 pl-5 bg-light">
                    <label for="setName" class="form-label">Wpisz nazwę swojego setu treningowego</label>
                    <input type="text" id="setName" class="form-control">
                </div>
            </div>
            <div class="row bg-light pb-5">
                <div class="col-lg-6 ml-5 pl-5">

                    <div class="input-group mb-3">
                        <span class="input-group-text">Wybierz ćwiczenie</span>
                        <input list="exerciseList" name="exercise" class="form-control" id='excercise_name'>
                        <datalist id="exerciseList">
                            <% for(var i=0;i<excercise_names.length;i++){ %>
                            <option value="<%= excercise_names[i] %>"></option>
                            <% } %>
                        </datalist>
                        <input id='repetition' type="number" class="form-control" placeholder="Ilość powtórzeń"
                            aria-label="Ilość powtórzeń" min="1" max="200">
                        <button class="btn btn-warning" onclick="addEx()">Dodaj do listy</button>
                    </div>
                </div>

                <form method="post" action="/home/newset">
                <div class="col-lg-4">
                <div class="col-lg-4 pl-5">
                    <ul class="list-group" id='list'>
                    </ul>
                    <button class="btn btn-warning" type="submit" id="btnList">Zatwierdź</button>
                </div>
            </div>
        </div>
        <button class="btn btn-warning" type="submit">Zatwierdź</button>
    </form>



    </div>
    <%- include('footer.ejs') %>

</body>

</html>