body{
    background-image: url("/images/cb2.png");
    background-position: center;
  }

h1{
    margin-bottom: 0;
    padding:35px;
    color: rgb(187, 187, 187);
    letter-spacing: 7px;
    font-family: sans-serif;
}

#main_container{
    text-align: center;
    margin-top: 0;
    width: 100%;
    padding: 50px;
    height:760px;
    background-image: url("/images/main_5.jpg");
    background-position:left;
    background-size: cover;
}

.logPanel{
    background-color: rgba(253, 252, 252, 0.774);
    padding-bottom: 20px;
   }

.user_panel{
    background-color: rgb(100, 100, 99);
    height: 500px;
}

#container_header{
    background-color: rgb(15, 14, 14);
    margin-bottom: 130px;
  }

  #container_header1{
    background-color: rgb(15, 14, 14);
  }

#log_btn{
    width: 240px; 
    height: 60px;
    margin-top: 30px; 
}

#info{
    font-size: xx-large;
}

#container2{
    margin-top: 150px;
    width: 100%;
    height: 100%;
}

#footer{
    height: 60px;
    text-align: center;
    color:beige;
    background-color: rgb(15, 14, 14);
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }

.sidebarLinks a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.sidebar a:hover {
    color: #f1f1f1;
  }

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.listItem {
    color: aliceblue;
    list-style-type: none;
    font-size: 14px;
    word-wrap: inherit;
  }

.listItem a {
    color: aliceblue;
  }

.userName {
    color: aliceblue;
  }

img {
    width: 70px;
    height: 70px;
  }

#main {
    transition: margin-left .5s;
    padding: 20px;
  }


@media (max-width: 500px) {
    .sidebar {
      padding-top: 15px;
    }

.sidebar a {
      font-size: 18px;
    }
  }