body{
    background-image: url("/images/cb2.png");
    min-height: 500px;
    overflow: auto;
  }


#header{
    margin-bottom: 0;
    padding: 35px;
    color: rgb(187, 187, 187);
    letter-spacing: 9px;
    font-family: sans-serif;
}


h3{
  letter-spacing: 5px;
  font-family: sans-serif;
}

h1{
    margin-bottom: 30px;
    padding:35px;
    color: rgb(22, 22, 22);
    letter-spacing: 5px;
    font-family: sans-serif;
}

#main_container{
    text-align: center;
    margin-top: 0;
    width: 100%;
    padding: 50px;
    height:817px;
    background-image: url("/images/background.jpg");
    background-position:center;
    background-size: cover;
}

.logPanel{
    background-color: rgba(253, 252, 252, 0.774);
    padding-bottom: 20px;
    margin-top: 130px;
   }

.user_panel{
    background-color: rgb(100, 100, 99);
    height: 500px;
}

#container_header{
    background-color: rgb(15, 14, 14);
    height: 120px;
    width: 100%;
  }

#sidebar_header{
    background-color: rgba(7, 7, 7, 0.973);
    height: 120px;
    position: fixed;
    top:0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

#log_btn{
    width: 240px; 
    height: 60px;
    margin-top: 30px; 
}

#info{
    font-size: xx-large;
}

.container2{
    margin-top: 170px;
}

.sidebar {
  height: 80%; 
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 110px;
  left: 0;
  background-color: rgba(7, 7, 7, 0.89);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  border-top: solid 20px rgba(240, 248, 255, 0);
}

.sidebar button a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 252, 240);
  transition: 0.3s;
}

#logout_btn{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}



.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.listItem{
  color: aliceblue;
  list-style-type: none;
  font-size: 16px;
}

.listItem a{
  color: aliceblue;
  text-decoration: none;
  margin-left: 7px;
  font-size: 18px;
}

.listItem a:hover{
  color: rgb(236, 221, 10);
}

.userName{
  color: aliceblue;
}

#user_photo{
  width: 90px;
  height: 90px;
  margin-left:18px;
}

#profile_photo{
  width: 150px;
  height: 150px;
  margin-right: 0;
}


#main {
  transition: margin-left .5s; 
  padding: 20px;
  margin-top: 110px;
}

@media (max-width: 500px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .dropMenu li a {font-size: 14px;}

}

@media (min-width: 900px){
  .sidebar {width: 270px;}
  .bck {width: 270px;}
  #main {margin-left: 270px;}
}

@media (max-height:700px){
  .sidebar {padding-top: 5px;}
  .sidebar a {font-size: 18px;}
  .dropMenu li a {font-size: 14px;}
}


.sidebarLinks button{
  width: 100%;
  padding-right: 30px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-top:5px;
}

#headerList{
  display: none;
}

#btnList{
  display: none;
}


.form-group.required .control-label:after {
  content:"*";
  color:red;
}